<div class="container-fluid">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>RSO-1920</span>
            <span class="spacer"></span>
            <span style="margin-right: 1em"><small>{{ String() }}</small></span>
            <button mat-raised-button color="warn" (click)="logOut()">Logout</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container class="sidebar-container">
        <mat-sidenav  mode="side" opened class="sidebar-container-side">
            <div style="margin: 0.5em">

                <mat-list>
                    <h3 mat-subheader>Channels</h3>
                    <div *ngFor="let channel of this.channels " (click)="changeChannel(channel.channelId)">
                        <mat-list-item >
                            <mat-icon mat-list-icon>folder</mat-icon>
                            <h4 mat-line>{{channel.channelName}}</h4>
                            <p mat-line> {{channel.channelId}} </p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <div *ngIf="currentChannel">
                <div style="margin: 0.5em">
                    <div class="row">
                        <div class="col-11">
                            <h3>{{this.currentChannel.bucketName}} <small>[{{this.currentChannel.channelId}}]</small></h3>
                            <p><small>{{this.currentChannel.bucketName}} / {{this.currentChannel.channelType.typeName}}</small></p>
                        </div>
                        <div class="col-1">
                            <button style="margin: 1em" mat-raised-button color="primary">UPLOAD</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9"
                             fxLayout="row wrap"
                             fxLayout.xs="column"
                             fxLayoutAlign="space-evenly center"
                             fxLayoutGap="10px grid"
                             fxLayoutGap.xs="0"
                        >

                            <div *ngIf="this.channelFiles">
                                <app-file-card *ngFor="let file of this.channelFiles" [file]="file" fxFlex="33%"></app-file-card>
                            </div>

                        </div>
                        <div class="col-3">
                            <p *ngFor="let message of this.channelMessages">
                                {{message.userName}}: {{message.message}}
                            </p>
                            <input (keyup.enter)="postMessage($event.target.value)" id="post" type="text" style="width:400px; "/>

                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>



