
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{this.file.fileName}}</mat-card-title>
        <mat-card-subtitle>{{this.file.fileType}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <span *ngFor="let word of this.file.keywords">
            {{word}}
        </span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="openFile()">OPEN</button>
        <button mat-button (click)="downloadFile()">DOWNLOAD</button>
        <!--<button mat-button>DELETE</button>-->
    </mat-card-actions>

    <button class="block2" mat-button matSuffix mat-icon-button aria-label="Clear" color="warn">
        <mat-icon>close</mat-icon>
    </button>
</mat-card>
