<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Login</h1>
            <mat-form-field class="fullwidth">
                <input matInput type="text" placeholder="user name" [(ngModel)]="username">
                <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <mat-form-field class="fullwidth">
                <input matInput type="password" placeholder="Password" [(ngModel)]="password">
                <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" (click)="login()">Login</button>
            <p>New user?  <a [routerLink]="['/register']"> Register </a></p>
        </div>
        <div class="col-3"></div>
    </div>
</div>





